<div class="sidebar">
<h3>My Lists</h3><br>

<div class="list_show">
<% @user.lists.each do |list| %>
<%= list.index %>. <%= link_to list.name, {:controller => 'sessions', :action => 'set_list', :list => list} %><br>
<% end %>
</div>
</div>